@charset "UTF-8";

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Light';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Light', 'Malgun Gothic', '맑은고딕', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}
button {
  cursor: pointer;
  background: transparent;
  color: #000;
}
.img {
  width: 100%;
}

#wrap {
  max-width: 768px;
  min-width: 320px;
  margin: auto;
}

.top_notice {
  position: relative;
  top: 0;
  padding: 10px;
  background: #efeeee;
  text-align: center;
}
.notice_icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('../img/horn_r.svg') no-repeat center center / 50px 50px;
  vertical-align: bottom;
}
.notice_txt a {
  font-size: 14px;
  line-height: 45px;
}
.notice_close {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 13px;
}
.close_icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../img/ui-icons_444444_256x240.png') 0 0;
  vertical-align: top;
}
.top_notice.up {
  display: none;
}

header {
  /* position: relative;
  top: 0; */
  width: 100%;
  margin: auto;
  background: #fff;
  z-index: 10;
}
.header_top {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}
.logo {
  /* position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); */
  width: 100%;
}
.logo a {
  display: block;
  width: 90px;
}
.logo img {
  width: 100%;
}
.menu_btn {
  /* position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%); */
}
.menu_icon {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../img/menu_icon.png') no-repeat center center / 24px 24px;
  text-indent: -9999px;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.nav > li > a {
  line-height: 40px;
}
.nav_bar {
  position: absolute;
  top: 38px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ff525e;
}

.lnb {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  padding: 5px 20px;
  background: #fff;
  overflow-y: auto;
  z-index: 11;
  transition: 0.5s;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.lnb.active {
  right: 0;
}
.lnb_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 5px;
  border-bottom: 1px solid gray;
}
.lnb_login > button {
  width: 25px;
  height: 25px;
  background: url('../img/x_icon.png') 0 0 / 30px 30px;
  text-indent: -9999px;
}
.lnb_login a {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 50px;
}
.lnb_login img {
  width: 25px;
  height: 25px;
}
.lnb_login p {
  margin-left: 5px;
}
.lnb_list {
  padding: 10px;
  font-size: 16px;
}
.lnb_list > li {
  line-height: 40px;
  margin-bottom: 10px;
}
.lnb_list button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lnb_toggle {
  width: 20px;
  height: 20px;
  background: url('../img/plus_icon.png') 0 0 / 20px 20px;
  text-indent: -9999px;
}
.lnb_toggle.on {
  transform: rotate(45deg);
}
.lnb_sub {
  height: 0;
  padding-left: 10px;
  font-size: 13px;
  overflow: hidden;
}
.lnb_sub > li {
  line-height: 30px;
}
.lnb_sub > li:hover {
  color: #ff525e;
}

main {
  width: 100%;
}
.swiper {
  width: 100%;
  margin-bottom: 40px;
  cursor: pointer;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination {
  margin-bottom: -7px;
}
.swiper-pagination-bullet-active {
  background: #fff;
}

.quickMenu {
  display: none;
  width: 100%;
  margin: 30px 0;
  padding: 0 20px;
}
.quickMenu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.quickMenu a:hover {
  color: #ff525e;
}
.quick {
  display: block;
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
  background: #ddd url('../img/icon_main_quick.png') no-repeat 0 0;
  border-radius: 50%;
}
.quick1_icon:hover {
  background-position: 0 -64px;
}
.quick2_icon {
  background-position: -64px 0;
}
.quick2_icon:hover {
  background-position: -64px -64px;
}
.quick3_icon {
  background-position: -128px 0;
}
.quick3_icon:hover {
  background-position: -128px -64px;
}
.quick4_icon {
  background-position: -192px 0;
}
.quick4_icon:hover {
  background-position: -192px -64px;
}
.quick5_icon {
  background-position: -256px 0;
}
.quick5_icon:hover {
  background-position: -256px -64px;
}
.quick6_icon {
  background-position: -320px 0;
}
.quick6_icon:hover {
  background-position: -320px -64px;
}
.quick_txt {
  font-weight: 700;
}

.tabs {
  display: flex;
  column-gap: 20px;
}
.tab {
  width: 50%;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
}
.tabMenu {
  display: flex;
  background: #efeeee;
  color: #111;
  font-size: 15px;
  line-height: 40px;
}
.tabMenu li {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}
.tabMenu li.tabM1_on, .tabMenu li.tabM2_on {
  background: #fff;
  font-weight: 700;
  border-bottom: none;
}
.tabBody {
  padding: 10px 10px 0;
}
.tab_box {
  display: none;
}
.tab_box.open {
  display: block;
}
.tab_box > ul > li {
  position: relative;
  height: 65px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.tab_box > ul > li > * {
  margin: 0 10px;
}
.tab_box > ul > li > a {
  display: flex;
  justify-content: space-between;
}
.tab_title {
  overflow: hidden;
  margin-bottom: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tab_title:hover {
  color: #ff525e;
}
.tab_label {
  display: inline-block;
  position: absolute;
  top: 20.6px;
  right: 10px;
  padding: 3px 6px;
  border: 1px solid #ff525e;
  border-radius: 24px;
  background: #fff;
  color: #ff525e;
  font-size: 12px;
}
.tab_box > ul > li > div {
  color: #666;
  font-size: 12px;
}
.tab_on, .tab_term {
  margin-right: 5px;
}
.tab_term {
  color: #ff525e;
}
.tab_more {
  text-align: right;
  margin: 10px 10px 0;
  font-size: 13px;
}
.tab_more a span {
  vertical-align: middle;
}
.tab_more .plus_icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('../img/plus_icon.png') no-repeat 0 0 / 15px 15px;
}

.content {
  margin: -10px 0 40px;
}
.content h2 {
  margin: 0 0 10px 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}
.content ul {
  display: flex;
  column-gap: 20px;
  padding: 0 10px;
}
.content ul li {
  flex: 1;
  width: 50%;
}
.content img {
  width: 100%;
}
.content a {
  display: block;
  overflow: hidden;
}
.content a:hover img {
  transform: scale(1.1);
}
.con_title {
  margin: 10px 0;
  font-weight: 700;
}

footer {
  width: 100%;
  padding: 30px 10px;
  border-top: 1px solid #ddd;
}
.service_info {
  margin-bottom: 10px;
  font-size: 13px;
}
.service_info ul {
  display: flex;
}
.service_info li a {
  margin-right: 10px;
}
.wrap_info {
  width: 100%;
}
.footer_logo {
  margin: 10px 0;
}
.footer_add {
  width: 100%;
  color: #666;
  font-size: 12px;
}
.footer_add dt {
  float: left;
  width: 80px;
  color: #111;
}
.space {
  margin-left: 80px;
}

@media (max-width:600px) {
  .nav {
    display: none;
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
  }
  .tab {
    width: 100%;
  }

  .content ul {
    column-gap: 10px;
  }

  .quickMenu {
    display: block;
  }
}

@media (max-width:430px) {
  .notice_txt a {
    font-size: 10px;
    line-height: 45px;
  }

  .quickMenu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 40px;
    row-gap: 20px;
  }
}